@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Roboto:400,400i,700');

body {
  font-family: "Catamaran", "Roboto", "Helvetica", "Arial", sans;
  margin: 0;
  background-color: rgb(48, 164, 161);
}

#root {
  margin: 0;
}
